<style>
.moonview{
  width: 100%;
  height: calc(100dvh - 220px);
  
}
.planets-container{
  width: 100%;
  height: 100%;
  position: relative;
}
.planets-container .background-planets{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("https://cdn.shopify.com/s/files/1/0894/4438/5073/files/Navigation-Desktop.gif");
  background-size: cover;
  width: 30%;
  height: 32%;
  display: block;
}
.planets-container .planet-container{
  display: inline-block;
}
.planets-links{
  width: 100%;
  height: 100%;
  position: relative;
}
.planets-container .planet-container#planet1{
  position: absolute;
  top: 30rem;
  left: calc(50% - 60rem);
  transform: translateX(-50%);
}
.planets-container .planet-container#planet1 img{
  width: 30rem;
}
.planets-container .planet-container#planet2{
  position: absolute;
  top: 30rem;
  left: 50%;
  transform: translateX(-50%);
}
.planets-container .planet-container#planet2 img{
  width: 500px;
}
</style>
<div class="planets-container">
    <div class="background-planets"></div>
    <div class="planets-links">
      {%- for block in section.blocks -%}
        <a class="planet-container" id="planet{{ forloop.index }}" href="{{ block.settings.page }}">
          {% if block.settings.image %}
            {% comment %} {{ block.settings.image | img_tag: block.settings.heading }}         {% endcomment %}
            
            <img 
              src="{{ block.settings.image | image_url: width: 325 }}" 
              alt="{{ block.settings.heading }}" 
              width="325" 
              height="325"> 
          {% endif %}
          <span>{{ block.settings.heading }}</span>
        </a>
        
      {%- endfor -%}
    </div>
</div>
{% schema %}
{
  "name": "Moonview",
  "tag": "section",
  "class": "moonview",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Moonview"
    }
  ],
  "max_blocks": 5,
  "blocks": [
     {
       "name": "Planet",
       "type": "planet",
       "settings": [
         {
           "type": "text",
           "id": "heading",
           "label": "Link Text"                                            
         },                       
         {
           "type": "url",
           "id": "page",
           "label": "Page"
         },
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
  ],
  "presets": [
    {
      "name": "Moonview",
      "settings": {
        "title": "Moonview"
      },
      "blocks": [
        {
          "type": "planet"
        },
        {
          "type": "planet"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "title": "Slideshow"
    },
    "fr": {
      "title": "Diaporama"
    }
  },
  "enabled_on": {
    "templates": ["*"],
    "groups": ["footer"]
  }
}
{% endschema %}
